

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Authentification GOURMANDISE SARL</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-icon.png">
        <link rel="shortcut icon" href="template/favicon.ico">

        <link rel="stylesheet" href="template/assets/css/normalize.css">
        <link rel="stylesheet" href="template/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="template/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="template/assets/css/themify-icons.css">
        <link rel="stylesheet" href="template/assets/css/flag-icon.min.css">
        <link rel="stylesheet" href="template/assets/css/cs-skin-elastic.css">
        <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->
        <link rel="stylesheet" href="template/assets/scss/style.css">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    </head>
    <body class="bg-dark">


        <div class="sufee-login d-flex align-content-center flex-wrap">
            <div class="container">
                <div class="login-content">
                    <div class="login-logo">

                        <h3 class="titre-pLogin">GOURMANDISE SARL</h3>

                    </div>
                    <div >



                    </div>

                    <div class="login-form">
                        <p class="err-pLogin">{$erreur}</p>
                        <form method="POST" action="index.php">
                            <input type="hidden" class="form-control" name="gestion" value="authentification">
                            <input type="hidden" class="form-control" name="action" value="authentifier">
                            <div class="form-group">
                                <label><br></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                    <input type="text" class="form-control" placeholder="Identifiant" name="login" value="{$login}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label><br></label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>


                                    <input type="password" class="form-control" placeholder="Mot de passe" name="pw" value="{$pw}">
                                </div>
                                <label><br></label>
                                <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Connexion</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>



        <script src="template/assets/js/vendor/jquery-2.1.4.min.js"></script>
        <script src="template/assets/js/popper.min.js"></script>
        <script src="template/assets/js/plugins.js"></script>
        <script src="template/assets/js/main.js"></script>


    </body>
</html>
